* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    height: 90vh;
}

.navbar-brand img{
    width: 200px;
}

#data{
    height: 600px;
    width: 400px;
    color: white;
}

#container{
    width: 630px;
    height: 630px;
    display: flex;
    flex-wrap: wrap;

}
.cell_type{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.color{
    background-color: aqua;
}

.color-bomb{
    background-color: red;
}

.bombpic{
    background-image: url('../../img/photo1634952772.jpeg');
    background-size: cover;
}
